@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #2F2929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F9F9;
    --foreground: #2F2929;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
